html, .page-header .intro, .page-header .intro .flat-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

html {
  color: #474851;
}

.clearfix:after, .clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.readable-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1110px) {
  .container {
    width: 1020px;
  }
}

.col-12 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 640px) {
  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  .col-12 {
    width: 100%;
  }
}

.col-3 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (max-width: 639px) {
  .col-3 {
    width: 100%;
  }
}

.col-4 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 640px) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 639px) {
  .col-4 {
    width: 100%;
  }
}

.push-2 {
  position: relative;
}

@media screen and (min-width: 640px) {
  .push-2 {
    left: 16.66667%;
  }
}

.page-header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 95px;
  background-color: #42d18c;
  background-image: url(../asset/skoty-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.page-header .header-header .logo {
  float: left;
}

.page-header .header-header .logo a {
  display: block;
}

.page-header .header-header .logo a img {
  width: 85px;
  height: auto;
  line-height: 42px;
}

.page-header .header-header .button-group {
  float: right;
}

.page-header .header-header .button-group .icon-button {
  float: left;
  padding: 7px;
  font-size: 21px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.page-header .header-header .button-group .icon-button:hover {
  opacith: .5;
}

.page-header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-header .intro .main-intro {
  padding-bottom: 28px;
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -3px;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .page-header .intro .main-intro {
    font-size: 56px;
    letter-spacing: -1px;
  }
}

.page-header .intro .sub-intro {
  font-size: 18px;
  line-height: 28px;
  color: #e8e8e8;
}

.page-header .intro .flat-button {
  display: inline-block;
  padding: .875em 1.5em;
  border-radius: 4px;
  margin-top: 56px;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  background-color: #42d18c;
}

.page-header .intro .flat-button:hover {
  background-color: #31c97f;
}

.page-header .intro .flat-button:active {
  background-color: #2cb472;
}

.blog {
  padding-top: 56px;
  padding-bottom: 56px;
  column-count: 3;
}

@media screen and (min-width: 641px) and (max-width: 840px) {
  .blog {
    column-count: 2;
  }
}

@media screen and (max-width: 640px) {
  .blog {
    column-count: 1;
  }
}

.blog-post-box {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 56px;
  overflow: hidden;
}

.blog-post-box a {
  display: block;
  width: 100%;
  padding: 42px 28px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #474851;
  background-color: #efefef;
}

.blog-post-box.green a {
  padding: 64px 28px;
  color: #fff;
  text-decoration: underline;
  background-color: #42d18c;
}

.blog-post-box.green a .post-title {
  margin-bottom: 42px;
  font-size: 20px;
  font-weight: 600;
}

.blog-post-box.green a .post-description {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.blog-post {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 56px;
}

.blog-post > a {
  display: block;
  width: 100%;
}

.blog-post > a .post-image {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}

.blog-post .rwd-media {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 28px;
}

.blog-post .rwd-media.aspect-4 {
  padding-bottom: 75%;
}

.blog-post .rwd-media.aspect-16 {
  padding-bottom: 56.25%;
}

.blog-post .rwd-media.aspect-21 {
  padding-bottom: 42.857142857%;
}

.blog-post .rwd-media .post-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-post .rwd-media-original {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}

.blog-post .post-date {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

.blog-post .post-date .fa {
  margin-right: 3px;
}

.blog-post .post-title {
  padding-top: 14px;
  padding-bottom: 14px;
}

.blog-post .post-title a {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #474851;
  text-decoration: none;
}

.blog-post .post-description {
  font-size: 1rem;
  line-height: 28px;
}

.blog-post .post-description .link-more {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: inherit;
  font-weight: inherit;
  color: #42d18c;
  text-decoration: none;
  transition: all .2s ease-in;
}

.blog-post .post-description .link-more:hover {
  background-color: #42d18c;
  color: #fff;
}

.statistics {
  padding-top: 84px;
  padding-bottom: 42px;
  background-color: #474851;
}

.statistics .statistics-item {
  padding-top: 28px;
  margin-bottom: 42px;
  text-align: center;
}

.statistics .statistics-item .num {
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 42px;
  color: #e8e8e8;
}

.statistics .statistics-item .field {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
}

.etc {
  padding-top: 112px;
  padding-bottom: 84px;
  line-height: 28px;
  color: #fff;
  background-color: #31323a;
}

@media screen and (max-width: 640px) {
  .etc {
    text-align: center;
  }
}

.etc .etc-item {
  margin-bottom: 56px;
}

.etc .etc-item h4 {
  margin-bottom: 28px;
}

.etc .etc-item ul {
  list-style-type: none;
  padding: 0;
}

.etc .etc-item a {
  color: #fff;
  text-decoration: none;
}

.etc .etc-item a:hover {
  color: #42d18c;
}

.etc .etc-item:last-child ul li {
  margin-bottom: 14px;
}

.etc .etc-item:last-child ul li:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=../map/03-skoty.css.map */